SECRET_KEY="your-django-secret-key"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=cinereserve
POSTGRES_USER=postgres
POSTGRES_PASSWORD=passwd
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
